@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

body {
   font-family: 'Lato', sans-serif;
}

/* Color palette */
:root {
  --dark: #172735;
  --white: #ffffff;
  --dark-mint: #4bcc8c;
  --blue-purple: #5f35d4;
  --dark-sky-blue: #26b6eb;
  --cool-grey: #979da4;
  --pale-grey: #f3f4f5;
  --silver: #e7e9ea;
}
/* Text styles */
.Page-Title {
  font-size: 52px;
  font-weight: 900;
  line-height: 1.23;
  letter-spacing: 0.6px;
  color: var(--white);
}
.Section-Title-Black {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.4px;
  text-align: center;
  color: var(--dark);
}
.Section-Title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.4px;
  text-align: center;
  color: var(--dark);
}
.Section-Title-White {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white);
}
.Card-Title {
  font-size: 38px;
  font-weight: 900;
  line-height: 1.16;
  letter-spacing: 0.4px;
  color: var(--white);
}
.Section-Subtitle {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.13;
  letter-spacing: normal;
  color: var(--dark);
}
.Quote {
  font-family: CrimsonText;
  font-size: 28px;
  font-weight: normal;
  line-height: 1.61;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark);
}
.Card-Title-Small {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--white);
}
.Carousel-Title {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark);
}
.Tagline {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: normal;
  color: var(--white);
}
.Text-White {
  font-size: 14px;
  font-weight: bold;
  line-height: 2.29;
  letter-spacing: normal;
  color: var(--white);
}
.Text {
  font-size: 14px;
  font-weight: normal;
  line-height: 2.29;
  letter-spacing: normal;
  color: var(--dark);
}
.Footer-Subtitle {
  font-size: 14px;
  font-weight: normal;
  line-height: 2.57;
  letter-spacing: normal;
  color: var(--cool-grey);
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
}

/* Menu */
.hero {
  padding: 56px 0 80px;
}

.menu {
  display: flex;
}

.menu-item {
  color: var(--white);
  font-size: 14px;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 15px;
  font-weight: bold;
}
.logo {
  margin-left: 0;
  margin-right: auto;
}
.contact-button {
  background-color: var(--dark-mint);
  margin-left: 70px;
  margin-right: 0;
}


/* Our work cards */
.card {
  position: relative;
  background-color: var(--dark-mint);
  padding: 50px;
  min-height: 310px;
  margin-bottom: 40px;
  border-radius: 8px;
}

.card h2 {
  max-width: 426px;
}

.card-cta {
  color: var(--white);
  text-decoration: none;
  padding-bottom: 6px;
  border-bottom: 2px solid;
  position: absolute;
  bottom: 50px;
}

.orange {
  background-color: #ff7200;
}

.magenta {
  background-color: #e23155;
}

.dark {
  background-color: var(--dark);
}

/* meet your new ux team */

.team-skills ul {
  display: grid;
  grid-template: 288px 288px / 1fr 1fr 1fr;
  grid-gap: 24px 48px;
}

.team-skills-item {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.33;
  color: var(--white);
  background-color: var(--dark-mint);
  padding: 25px;
}

.team-skills-item:nth-child(2n) {
  background-color: var(--blue-purple);
}

/* Book section */
.book .wrap {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-column-gap: 48px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.book img {
  grid-area: 1 / 1 / 3 / 2;
  min-height:  282px;
  background-color: var(--dark-mint);
}

.learn-more-button {
  align-self: end;
  margin-right: auto;
  background-color: var(--dark-sky-blue);
  color: var(--white);
  padding: 5px 15px;
  text-decoration: underline;
}
